/* Estilos generales */
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 7%;
    flex-wrap: wrap; 
}

.contenedor-items-buttoms {
    background-color: #F2F2F2;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 60%;
    margin-top: -3%;
}

.iconos-sociales {
    display: flex;
    gap: 12px;
    flex-wrap: wrap; 
}

.botones-accion {
    display: flex;
    gap: 12px;
}

.imagen-fondo {
    width: 60%;
    height: 85%;
    object-fit: cover;
}



/* Estilos para pantallas pequeñas */
@media (max-width: 1100px) {
    .contenedor {
        flex-direction: column;
        align-items: center; 
        margin-top: 20px; 
    }

    /* Coloca los botones primero */
    .botones-accion {
        order: 1; 
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 20px; 
    }

    /* Coloca los iconos después */
    .iconos-sociales {
        order: 2; 
        justify-content: center; 
        width: 100%; 
    }

    /* Imagen de fondo en pantallas pequeñas */
    .imagen-fondo {
        width: 100%; 
        height: auto; 
    }

    .contenedor-items-buttoms {
        margin-top: 6%;
    }
}
@media (max-width: 1000px)  {

    .contenedor-items-buttoms {
        margin-top: 0;
    }


}
@media (max-width: 900px)  {

    .contenedor-items-buttoms {
        margin-top: 1%;
    }


}
@media (max-width: 820px)  {

    .contenedor-items-buttoms {
        margin-top: -4%;
    }


}
@media (max-width: 750px)  {

    .contenedor-items-buttoms {
        margin-top: -10%;
    }


}


@media (max-width: 650px)  {

    .contenedor-items-buttoms {
        margin-top: -17%;
    }


}

@media (max-width: 550px)  {

    .contenedor-items-buttoms {
        margin-top: -28%;
    }


}
@media (max-width: 544px)  {

    .contenedor-items-buttoms {
        margin-top: -25%;
    }


}

@media (max-width: 450px)  {

    .contenedor-items-buttoms {
        margin-top: -22%;
    }


}
@media (max-width: 436px)  {

    .contenedor-items-buttoms {
        margin-top: -10%;
    }


}

@media (max-width: 420px)  {

    .contenedor-items-buttoms {
        margin-top: 2%;
    }


}

@media (max-width: 575px)  {

    .genero {
        margin-bottom: 32px;
    }


}




